{% extends 'base.html' %}
{% block title %} history {% endblock title %}

{% block content %}
<body>
<div class="history-container">
    
    <h1 id="history-header" style="background-color: orange; max-width: 100%;">History of Madarastul Ulumi Wal-Qur'an Takur Site</h1>
    <hr>
        <p>Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!Lorem ipsum dolor sit amet 
            consectetur, adipisicing elit. Sunt, 
            quas! Cum suscipit odio iure beatae officiis
            rem similique? Iusto totam itaque suscipit 
            labore delectus inventore est
            doloremque dolore, aperiam impedit!</p>
        
        </div>
</div>
</body>

{% endblock content %}