{% load current_date_tags %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../media/a1.jpg">

    <title>{% block title %} {% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/sticky-footer.css'%}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="{% static 'css/carousel.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery3.6.0.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/animation.js'%}"></script>
    <!-- Custom styles for this template -->
  </head>
  <body>

    {% include 'navbar.html'%}
    <div class="container">
      {% block content %}

      {% endblock content %}
  
    </div>
    <!-- FOOTER -->  
    {% current_time "%Y" as year %}
    
    <footer class="footer">
      <div class="container">
        <span class="text-muted"> &COPY; {{ year }} Madarastul Ulumi Wal-Qur'an Takur Site </span>
      </div>
    </footer>

  <!-- JS -->
  <script src="{% static 'js/animation.js'%}"></script>
  <script src="{% static 'js/jquery3.6.0.js'%}"></script>
</body>
</html>