body{
    background-color: #f1f1f1;
}
.heading-color{
    color: darkblue;
}
.admin-time{
    font-style: italic;
    color: gray;
    
}
#history-header{
    margin-top: 30px;
    
}

.history-container{
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}
#comment{
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    
}
/* .comment-color{
    color: darkblue;
} */
/* .form-color{
    background-color: rgb(221, 224, 224);
    border-radius: 1%;
} */